@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700';

* { font-family: 'Source Sans Pro', sans-serif; }

body {
    background-color: #000000;
    color: #ffffff;
}

p {
    width: 400px;
    margin: auto;
    text-align: center;
}

a {
    color: #ffffcc;
}

a:hover {
    text-decoration: none;
}

.board {
    width: 500px;
    margin: auto
}

.info {
    width: 500px;
    margin: auto;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}

#reload {
    height: 5%;
    width: auto;    
    background: none; 
    opacity: 1;  
    border-radius: 5%;
    -webkit-transition: 0.5s;
    -moz-transition:0.5s;
    transition: 0.5s; 
    position: fixed;       
    left: 4%;
    top: 2%;
    z-index: 10;
    padding:0.2%;   
    margin-right:1%; 
    transform-style: flat;
    font-size: 1.47rem;
}
#reload:hover{
    transform: scale(1.1);   
}
#home {
    height: 5%;
    width: auto;    
    background: none; 
    opacity: 1;  
    border-radius: 5%;
    -webkit-transition: 0.5s;
    -moz-transition:0.5s;
    transition: 0.5s; 
    position: fixed;       
    left: 1%;
    top: 2%;
    z-index: 10;
    padding:0.2%;   
    margin-right:1%; 
    transform-style: flat;
    font-size: 1.47rem;
}
#home:hover{
    transform: scale(1.1);   
}
#back {
    height: 5%;
    width: auto;    
    background: none; 
    opacity: 1;  
    border-radius: 5%;
    -webkit-transition: 0.5s;
    -moz-transition:0.5s;
    transition: 0.5s; 
    position: fixed;       
    left: 1%;
    bottom: 2%;
    z-index: 10;
    padding:0.2%;   
    margin-right:1%; 
    transform-style: flat;
    font-size: 1.47rem;
}
#back:hover{
    transform: scale(1.1);   
}
#forward {
    height: 5%;
    width: auto;    
    background: none; 
    opacity: 1;  
    border-radius: 5%;
    -webkit-transition: 0.5s;
    -moz-transition:0.5s;
    transition: 0.5s; 
    position: fixed;       
    right: 1%;
    bottom: 2%;
    z-index: 10;
    padding:0.2%;   
    margin-right:1%; 
    transform-style: flat;
    font-size: 1.47rem;
}
#forward:hover{
    transform: scale(1.1);   
}

@media handheld, only screen and (max-width:1040px){
    .board {
        width: 90%;
        margin: auto
    }
    
    .info {
        width: 90%;
        margin: auto;
    }
    
    .move-history {
        max-height: 20%;
        overflow-y: scroll;
    }    
    #reload{
        display: none;
    }
    #back{
        display: none;
    }
    #forward{
        display: none;
    }
    #home{
        display: none;
    }
}