@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700';

/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

* { font-family: 'Source Sans Pro', sans-serif; }

body {
    background-color: #000000;
    color: #ffffff;
}

p {
    width: 400px;
    margin: auto;
    text-align: center;
}

a {
    color: #ffffcc;
}

a:hover {
    text-decoration: none;
}

textarea {
    background-color: #ffffff;
    height: 3%;
    width: 10%;
}

.board {
    width: 500px;
    margin: auto;
}

.info {
    width: 500px;
    margin: auto;
    display: none;
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}

.slider {
    width: 500px;
    margin: auto;
}

#bar{
	width:200px;
	height:25px;
	border:1px solid black;
	position:relative;
}
#slider{
	width:0%;
	height:100%;
	background-color:red;
	top:0px;
	left:0px;
	position:absolute;
	cursor:pointer;
}
#info{
	width:200px;
	height:25px;
	border:1px solid black;	
}

@media handheld, only screen and (max-width:1040px){
    .board {
        width: 90%;
        margin: auto
    }
    
    .info {
        width: 90%;
        margin: auto;
    }
    
    .move-history {
        max-height: 20%;
        overflow-y: scroll;
    } 

    #bot {
        width: 90%;
        height: 150px;
        margin: auto;
    }

    #reload{
        display: none;
    }
    #back{
        display: none;
    }
    #forward{
        display: none;
    }
    #home{
        display: none;
    }   
}